@import "tailwindcss";
:root {
  --bg: 255 255 255;
  --card: 255 255 255;
  --text: 15 23 42;
}

html.dark {
  --bg: 2 6 23;
  --card: 2 6 23;
  --text: 226 232 240;
}

body {
  background-color: rgb(var(--bg));
  color: rgb(var(--text));
}